.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
}



p{
    color: #282828;
}
 .card_title{
    color: #282828;
    font-size: 14px;

}
 .card__description{
    color: #282828;
    font-size: 12px;

   

}

@media screen and (max-width: 320px){
         .card__description{
            display: none;
        }
         .card_title{
            font-size: 10px;
        }
}

@media screen and (max-width: 768px){
         .card__description{
            font-size: 8px;
        }
         .card_title{
            font-size: 10px;
        }
}



.card__img-top{
    height: 182px;
    width: 288px;
    margin-bottom:10px;
}


header{
    background-color: #282828;
}
footer{
    background-color: #282828;
}