body {
    margin: 0px;
    padding: 0px;
    background-size: 2000px;
    background-color: #C4C4C4;
    min-height: 100vh;
    
}

header{
    background-color: #C4C4C4;
    color: #ffffff;
}

footer{
    background-color: #ffffff;
}
.nav{
    background-color: #726666;
}