body {
    margin: 0px;
    padding: 0px;
    background-size: 2000px;
    background-color: #fff;
    min-height: 100vh;
    
}

header{
    background-color: #fff;
    color: #fff;
}

footer{
    background-color: #fff;
}
.nav{
    background-color: #fff;
}