body {
    margin: 0px;
    padding: 0px;
    background-size: 2000px;
    
    min-height: 100vh;
    
}

header{
    background-color: #ffffff;
    color: #ffffff;
}

footer{
    background-color: #fff;
}
.nav{
    background-color: #fff;
}